@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input{
  text-align: center;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
  background-color: transparent;
  border: none;
}

ul{
  list-style: none;
  padding: 0;
}

h3{
  display: inline-block;
  margin: 0%;
}

li>h3, li>span{
  cursor: default
}

li>span{
  color: #F17F29;
  font-size: 20px;
}

i:hover{
  -webkit-text-stroke-color: #F17F29;
  -webkit-text-stroke-width: 2px;
}

i:active{
  color: rgb(255, 208, 175);
}

#main{
  margin: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timer-controls{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timer-display{
  margin-bottom: 20px;
  border-radius: 100%;
  width: 320px;
  height: 320px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* box-shadow: 0 0 5px grey; */
}

#presets{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-timer-form{
  position: relative;
  height: 0;
  top: -150px;
}

.timer-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  margin-right: -30px;
  margin-bottom: 20px;
}

.form-inputs{
  display: inline-block;
  background-color: white;
  border: 1px solid #233441;
  padding: 2px 4px;
  /* box-shadow: 0 0 2px grey; */
}

.timer-form input{
  width: 50px;
  border: none;
}

.timer-form input:active{
  border: none;
}

.timer-form button{
  width: 30px;
  color: #F17F29;
}

.timer-display-circle{
  height: 320px;
  width: 320px;
}

.timer-display-circle circle{
  cx: 160px;
  cy: 160px;
  fill: transparent;
  stroke: #7FBEEB;
  stroke-width: 20px;
}

.timer-display-circle .circle-background{
  stroke: #D4BEBE;
  fill: #DCEDF9;
  z-index: -1;
}

.timer-display-time{
  position: relative;
  font-size: 3em;
  width: 320px;
  height: 0;
  margin: 0;
  top: -200px;
  text-align: center;
  color: #233441;
}

#timer-controls label{
  font-size: 50px;
  padding: 10px 20px;
  color: #F17F29;
}

#timer-controls label:active{
  font-size: 50px;
  padding: 10px 20px;
  color: #F17F29;
}

.preset-item h3{
  border: 1px solid #F17F29;
  background-color: #FCE7D8;
  opacity: 75%;
  margin: 10px 5px;
  padding: 5px 10px;
  color: #233441;
}

.preset-item h3:hover{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: 1px solid #F17F29;
}

.preset-item h3:active{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: 1px solid #F17F29;
  background-color: rgb(255, 208, 175);
}

.preset-item {
  margin-right: -35px;
}

.preset-item span{
  margin: 1px 10px;
}

#presets .preset-add-button{
  font-size: 20px;
  color: #F17F29;
}
